<div class="row justify-content-center">
	<div class="col-8">
		<div *ngIf="vtopic">
			<h2>
				<span jhiTranslate="jhipsterpressApp.vtopic.detail.title">Vtopic</span>
				{{vtopic.id}}
			</h2>
			<hr>
			<jhi-alert-error></jhi-alert-error>
			<dl class="row-md jh-entity-details">
				<dt>
					<span jhiTranslate="jhipsterpressApp.vtopic.creationDate">Creation
						Date</span>
				</dt>
				<dd>
					<span>{{vtopic.creationDate | date:'medium'}}</span>
				</dd>
				<dt>
					<span jhiTranslate="jhipsterpressApp.vtopic.vtopictitle">Vtopictitle</span>
				</dt>
				<dd>
					<span>{{vtopic.vtopictitle}}</span>
				</dd>
				<dt>
					<span jhiTranslate="jhipsterpressApp.vtopic.vtopicdesc">Vtopicdesc</span>
				</dt>
				<dd>
					<span>{{vtopic.vtopicdesc}}</span>
				</dd>
				<dt>
					<span jhiTranslate="jhipsterpressApp.vtopic.user">User</span>
				</dt>
				<dd>{{vtopic.userId}}</dd>
			</dl>

			<h3>
				<span jhiTranslate="jhipsterpressApp.vtopic.vquestion">
					VQquestion
				</span>
			</h3>

			<div id="accordion-07" class="u-accordion u-accordion-color-primary"
				role="tablist" aria-multiselectable="true">
				<!-- Card -->
				<div class="card rounded-0 g-brd-none">
					<div id="accordion-07-heading-01"
						class="u-accordion__header g-pa-0" role="tab">
						<h5 class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
							<a class="d-block g-color-main g-text-underline--none--hover"
								href="#accordion-07-body-01" data-toggle="collapse"
								data-parent="#accordion-07" aria-expanded="true"
								aria-controls="accordion-07-body-01"> 
								<span class="u-accordion__control-icon d-inline-block g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">
									<i class="fa fa-plus"></i> 
									<i class="fa fa-minus"></i>
								</span> 
								<span class="d-inline-block g-pa-15"> ¿Dónde puedo encontrar ejemplos de apps con microservicios? </span>
							</a>
								<span class="u-icon-v1 g-mr-15 g-mb-15">
								  <i class="fa fa-thumbs-up">1</i>
								</span>
								<span class="u-icon-v1 g-mr-15 g-mb-15">
								  <i class="fa fa-thumbs-down">2</i>
								</span>
								<button id="jh-create-entity"  
							                class="btn btn-primary float-right jh-create-entity create-interest" 
							                [routerLink]="['/']">
					            	<fa-icon [icon]="'plus'"></fa-icon>
						        </button>
						</h5>
					</div>
					<div id="accordion-07-body-01" class="collapse show"
						role="tabpanel" aria-labelledby="accordion-07-heading-01">
							<button id="jh-create-entity"  
						                class="btn btn-primary float-right jh-create-entity create-interest" 
						                [routerLink]="['/']">
				            	<fa-icon [icon]="'plus'"></fa-icon>
					        </button>
						<div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
								www.youtube.com/watch?v=UmFFTkjs-O0
								<span class="u-icon-v1 g-mr-15 g-mb-15">
								  <i class="fa fa-thumbs-up">1</i>
								</span>
								<span class="u-icon-v1 g-mr-15 g-mb-15">
								  <i class="fa fa-thumbs-down">2</i>
								</span>
							</div>
					</div>
				</div>
				<!-- End Card -->
				<!-- Card -->
				<div class="card rounded-0 g-brd-none">
					<div id="accordion-07-heading-02"
						class="u-accordion__header g-pa-0" role="tab">
						<h5
							class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
							<a
								class="collapsed d-block g-color-main g-text-underline--none--hover"
								href="#accordion-07-body-02" data-toggle="collapse"
								data-parent="#accordion-07" aria-expanded="false"
								aria-controls="accordion-07-body-02"> <span
								class="u-accordion__control-icon d-inline-block g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">
									<i class="fa fa-plus"></i> <i class="fa fa-minus"></i>
							</span> <span class="d-inline-block g-pa-15"> ¿Dónde puedo encontrar ejemplos de apps con microservicios? 2</span>
							</a>
						</h5>
					</div>
					<div id="accordion-07-body-02" class="collapse" role="tabpanel"
						aria-labelledby="accordion-07-heading-02">
						<div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
							This is where we sit down, grab a cup of coffee and dial in the
							details. Understanding the task at hand and ironing out the
							wrinkles is key. Now that we've aligned the details, it's time to
							get things mapped out and organized. This part is really crucial
							in keeping the project in line to completion.</div>
					</div>
				</div>
				<!-- End Card -->
				<!-- Card -->
				<div class="card rounded-0 g-brd-none">
					<div id="accordion-07-heading-03"
						class="u-accordion__header g-pa-0" role="tab">
						<h5
							class="mb-0 text-uppercase g-font-size-default g-font-weight-700 g-pa-20a mb-0">
							<a
								class="collapsed d-block g-color-main g-text-underline--none--hover"
								href="#accordion-07-body-03" data-toggle="collapse"
								data-parent="#accordion-07" aria-expanded="false"
								aria-controls="accordion-07-body-03"> <span
								class="u-accordion__control-icon d-inline-block g-brd-right g-brd-gray-light-v4 g-color-primary text-center g-pa-20">
									<i class="fa fa-plus"></i> <i class="fa fa-minus"></i>
							</span> <span class="d-inline-block g-pa-15"> Design </span>
							</a>
						</h5>
					</div>
					<div id="accordion-07-body-03" class="collapse" role="tabpanel"
						aria-labelledby="accordion-07-heading-03">
						<div class="u-accordion__body g-bg-gray-light-v5 g-px-50 g-py-30">
							This is where we sit down, grab a cup of coffee and dial in the
							details. Understanding the task at hand and ironing out the
							wrinkles is key. Now that we've aligned the details, it's time to
							get things mapped out and organized. This part is really crucial
							in keeping the project in line to completion.</div>
					</div>
				</div>
				<!-- End Card -->
			</div>


			<button type="submit" (click)="previousState()" class="btn btn-info">
				<fa-icon [icon]="'arrow-left'"></fa-icon>
				&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
			</button>
			<!--
            <button type="button"
                    [routerLink]="['/vtopic', vtopic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
            -->
		</div>
	</div>
</div>
